<header class="header-section">
  <div class="container">
      <div class="inner-header">
          <div class="row">
              <div class="col-lg-2 col-md-2">
                  <div class="logo">
                      <a href="./">
                          Logos
                      </a>
                  </div>
              </div>
              <div class="col-lg-7 col-md-7">
                  <!--
                    <div class="advanced-search">
                      <button type="button" class="category-btn">All Categories</button>
                      <div class="input-group">
                          <input type="text" placeholder="What do you need?" />
                          <button type="button"><i class="ti-search"></i></button>
                      </div>
                  </div>
                  -->
              </div>
              <div class="col-lg-3 text-right col-md-3">
                  <ul class="nav-right">
                    <li class="cart-price">16 de febrero 2022</li>

                  </ul>
              </div>
          </div>
      </div>
  </div>

  <!--NavBar-->
  <div class="nav-item">
      <div class="container">
          <nav class="nav-menu mobile-menu">
              <ul>
                  <li class="active"><a href="#">Inicio</a></li>
                  <li><a href="#">Noticias</a></li>
                  <li><a href="#">Eventos</a></li>
                  <li><a href="#">Nosotros</a>
                      <ul class="dropdown">
                          <li><a href="#">Presentación</a></li>
                          <li><a href="#">Reseña Histórica</a></li>
                          <li><a href="#">Misión, Visión y Principios o Valores</a></li>
                          <li><a href="#">Acreditación y/o Licenciamiento</a></li>
                          <li><a href="#">Convenios diversos</a></li>
                      </ul>
                  </li>
                  <li><a href="#">Noticias</a></li>
                  <li><a href="#">Directorio</a></li>
                  <li><a href="#">Servicios</a>
                    <ul class="dropdown">
                        <li><a href="#">Campos Virtual</a></li>
                        <li><a href="#">Biblioteca Virtual</a></li>
                        <li><a href="#">Bolsa de Trabajo</a></li>
                    </ul>
                </li>
                  <li><a href="#">Contactanos</a></li>
              </ul>
          </nav>
          <div id="mobile-menu-wrap"></div>
      </div>
  </div>
</header>
